<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fastandroid.fast.com.cn.fastandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 震动 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <!-- Required -->
    <permission
        android:name="fastandroid.fast.com.cn.fastandroid.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="fastandroid.fast.com.cn.fastandroid.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_LOCATION_POLICY"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="设计院管理"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.AppstartActivity"
            android:label="@string/title_activity_appstart"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".activity.MainActivity">


        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>
        <activity android:name=".activity.DetailActivity"/>
        <activity android:name=".activity.TasklistActivity"/>
        <activity android:name=".activity.NewsNoticeActivity">
        </activity>
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.PushNewsNoticeActivity"/>
        <activity android:name=".activity.PushTasklistActivity"/>

        <!--注册JPush广播接收-->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION"/>
                <action android:name="cn.jpush.android.intent.CONNECTION"/>

                <category android:name="fastandroid.fast.com.cn.fastandroid"/>
            </intent-filter>
        </receiver>

        <!--版本更新服务-->
        <service android:name=".activity.UpdateVersionService"/>

    </application>

</manifest>